extends ../shared/login

block content
    #tabs
        ul
            li
                a(href='#login') Đăng nhập hệ thống
        #login
            if errors
                .response-msg.error.ui-corner-all
                    span Xảy ra lỗi
                    each error in errors
                        | #{error}
            form(action='' method='POST')
                input(type="hidden" name="_csrf", value=csrfToken)
                ul
                    li
                        label.desc(for='email') Tên đăng nhập:
                        div
                        input#email.field.text.full(type='text', required, tabindex='1' maxlength='255', value=values ? values.username : '' name='username')
                    li
                        label.desc(for='password') Mật khẩu:
                        div
                        input#password.field.text.full(type='password', required, tabindex='1' maxlength='255', value=values ? values.password : '' name='password')
                    li.buttons
                        div
                        button.ui-state-default.ui-corner-all.float-right.ui-button(type='submit') Đăng nhập