.clear
#footer
  a(href='/', title='Home') Home
  |  | 
  a(href='#', title='Register') Register
  |  | 
  a(href='#', title='Members Login') Members Login
  |  | 
  a(href='#', title='About us') About us
  |  | 
  a(href='#', title='Example link') Example link
// Do not remove the copyright notice unless you have purchased a Commercial License from admintasia.com
#copyright
  | Powered by 
  a(href='http://www.admintasia.com', title='Powerful admin UI template') Admintasia.com
