ul#navigation
    li
        a.sf-with-ul(href='/') Dashboard
        ul
            li
                a(href='/') Administration
            li
                a(href='forms.php') Forms
                ul
                    li
                        a(href='validate.php') Form validation
                    li
                        a(href='table_modal.php')
                            b Add to table modal
                    li
                        a(href='editinplace.php')
                            b Edit in Place
                    li
                        a(href='tinymce.php')
                            b WYSIWYG Editor
            li
                a(href='tables.php') Tables
                ul
                    li
                        a(href='tables.php') Sortable Tables
                    li
                        a(href='flexigrid.php')
                            b FlexiGrid
            li
                a(href='#') Widgets
                ul
                    li
                        a(href='accordion.php') Accordion
                    li
                        a(href='flexigrid.php')
                            b FlexiGrid
                    li
                        a(href='editinplace.php')
                            b Edit in Place
                    li
                        a(href='tinymce.php')
                            b WYSIWYG Editor
                    li
                        a(href='charts.php')
                            b Charts
                    li
                        a(href='tabs.php') Tabs
                    li
                        a(href='slider.php') Slider
                    li
                        a(href='datepicker.php') Datepicker
                    li
                        a(href='progress.php') Progress Bar
                    li
                        a(href='dialog.php') Dialogs and Modals
                    li
                        a(href='overlays.php') Overlays
                    li
                        a(href='photo_manager.php') Photo Manager
                    li
                        a(href='file_browser.php') File Browser
            li
                a(href='msg.php') Response Messages
            li
                a(href='icons.php') Icons
            li
                a(href='index.php') Login Page
            li
                a(href='icons.php') Buttons and Elements
    li
        a.sf-with-ul(href='#') Unlimited Levels
        ul
            li
                a.sf-with-ul(href='#') Menu item 1
                ul
                    li
                        a(href='#') Subitem 1
                    li
                        a(href='#') Subitem 2
            li
                a(href='#') Menu item 2
            li
                a(href='#') Menu item 3
            li
                a.sf-with-ul(href='#') Menu item 4
                ul
                    li
                        a(href='#') Subitem 1
                    li
                        a.sf-with-ul(href='#') Subitem 2
                        ul
                            li
                                a(href='#') Subitem 1
                            li
                                a.sf-with-ul(href='#') Subitem 2
                                ul
                                    li
                                        a(href='#') Subitem 1
                                    li
                                        a(href='#') Subitem 2
            li
                a.sf-with-ul(href='#') Menu item 5
                ul
                    li
                        a(href='#') Subitem 1
                    li
                        a(href='#') Subitem 2
            li
                a(href='#') Menu item 6
            li
                a(href='#') Menu item 7
    li
        a(href='gallery.php') Photo Gallery
    li
        a.sf-with-ul(href='#') Layout Options
        ul
            li
                a(href='three-columns-layout.php') Three columns
            li
                a(href='two-column-layout.php') Two columns
            li
                a(href='no-rounded.php') No rounded corners
            li
                a(href='content_boxes.php') Available content boxes